<footer class="page-footer rodape font-small pt-1 text-center py-3">
        <p class = "my-2 my-sm-0" target="_blank" href="https://www.instagram.com/?hl=pt-br" target="_blank"><img src="" alt="" width="30" height="30"> Instagram</p>
        <p class = "my-2 my-sm-0" target="_blank" href="https://pt-br.facebook.com/" target="_blank"><img src="" alt="" width="30" height="30"> Facebook</p>
        <p class = "my-2 my-sm-0" target="_blank" href="https://br.pinterest.com/" target="_blank"><img src="" alt="" width="30" height="30"> Pinterest</p>
        <p class = "my-2 my-sm-0" target="_blank" href="https://www.whatsapp.com/" target="_blank"><img src="" alt="" width="30" height="30"> WhatsApp</p>
</footer>